<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{ 'PageNotFound.Error404' | translate }}</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-exclamation-triangle text-warning"></i> {{ 'PageNotFound.OopsSpeech' | translate }}</h3>

            <p>
                {{ 'PageNotFound.Description_Suffix' | translate }} <a routerLink="/">{{
                    'PageNotFound.Description_Link'
                    | translate }} </a> {{ 'PageNotFound.Description_Prefix' | translate }}
            </p>

            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control"
                        placeholder="{{ 'Navbar.Search' | translate }}">

                    <div class="input-group-append">
                        <button type="submit" name="submit" class="btn btn-warning"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->